.menu{
position:relative;
width:280px;
height:280px; 
display:flex;
align-items:center;
justify-content:center;
}
.menu .toggle{
position: relative;
width:60px;
height:60px; 
background:white;
border-radius: 50%:;
display:flex;
align-items:center;
justify-content:center;
color: pink;
font-size:2rem;
cursor:pointer;
transition:1.25s;
z-index:5;
}
.menu.active .toggle{
transform:rotate(360deg);
box-shadow: 0 0 0 2px #333,
}










