/* h2{
    display: inline-block;
    width: 100px;
    text-align: center;
    font-size: 35px;}
button{
    display: inline-block;
    width: 110px;
    text-align: center;
    font-size: 25px;
    border-radius: 30px;
    border: 6px solid rgb(13, 13, 14);
    color: rgb(227, 227, 236);
    background-color: blue;
   font-family: 'Courier New', Courier, monospace;
   font-weight:bold;
}
.a{
   text-align:center;
   width: 450px;
   height: 150px;
   border: 9px solid rgb(47, 11, 250);

}
 body{ 
    background-image: url(watch.jpg);
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
} 
h1{
    margin-bottom: 550px;
    font-size: 80px;
    color: blue;

} */
/* Variabes */  
$orange: #ffa600;
$grey:#f3f3f3;
$white: #fff;
$base-color:$orange ;


/* Mixin's */  
@mixin transition {
-webkit-transition: all 0.5s ease-in-out;
-moz-transition: all 0.5s ease-in-out;
transition: all 0.5s ease-in-out;
}
@mixin corners ($radius) {
-moz-border-radius: $radius;
-webkit-border-radius: $radius;
border-radius: $radius; 
-khtml-border-radius: $radius; 
}

body {
background:$base-color;
font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
height:100%;
}

.wrapper {
width: 800px;
margin: 30px auto;
color:$white;
text-align:center;
}

h1, h2, h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 2.6em;
  text-transform: uppercase;
}

#seconds, #tens{
  font-size:2em;
}

button{
@include corners (5px);
background:$base-color;
color:$white;
border: solid 1px $white;
text-decoration:none;
cursor:pointer;
font-size:1.2em;
padding:18px 10px;
width:180px;
margin: 10px;
 outline: none;
  &:hover{
	@include transition;
	background:$white;
	border: solid 1px $white;
	color:$base-color;
	}
}







